<%- partial('_partial/head') %>
<%- partial('_partial/_head-sections/IE',null,{cache: !config.relative_link}) %>
<body>
    <%- partial('_partial/header') %>
    <%- partial('_partial/nav') %>
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-md-8 main-content <%if(is_post()){%>m-post<%}%>">
                    <%- body %>
                </main>
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
    </section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

    <div class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </div>

    <%- partial('_partial/copyright') %>
    <%- partial('_scripts/third-party/localsearch') %>
    <%- partial('_scripts/third-party/lean-analytics') %>
</body>
</html>