<p id="process"></p>
<article class="post">
    <div class="post-head">
        <h1 id="<%= page.title %>">
            <%if(page.link){%>
            <a href="<%- url_for(page.link) %>" target="_blank"><%= page.title %></a>
            <%}else{%>
            <%= page.title||'NO Title!' %>
            <%}%>
        </h1>
        <%- partial('_partial/article-meta', {post: page}) %>
            <%
                var diffDays = moment(new Date()).diff(moment(page.date), 'day');
                var warningTextArr = theme.warning.text.split("%d");
            %>
            <% if((theme.warning.days!=0) && diffDays > (theme.warning.days || 300)){ %>
            <p class="fa fa-exclamation-triangle warning">
                <%- warningTextArr[0]%><strong><%= diffDays %></strong><%- warningTextArr[1]%>
            </p>
            <% } %>
    </div>
    <%- partial('_partial/gallery',{post:page})%>
    <div class="post-body post-content">
        <%- page.content %>
    </div>

    <div class="post-footer">   
        <div>
            <% if(theme.declaration.enable){ %>
                <%- theme.declaration.title %>：<%- theme.declaration.tip %><%- theme.cc %>
            <% } %>
        </div>
        <div>
            <% if(theme.cc){ %>
                <%= __('post_licence') %>: <%- theme.cc %>
            <% } %>
        </div>  
    </div>
</article>

<div class="article-nav prev-next-wrap clearfix">
    <% if(page.prev){ %>
        <a href="<%- url_for(page.prev.path) %>" class="pre-post btn btn-default"><i class="fa fa-angle-left fa-fw"></i>上一篇</a>
    <% } %>
    <% if(page.next){ %>
        <a href="<%- url_for(page.next.path) %>" class="next-post btn btn-default">下一篇<i class="fa fa-angle-right fa-fw"></i></a>
    <% } %>
</div>

<% if(page.comments){ %>
    <div id="comments">
        <%- partial('_partial/comments', {page: page}) %>
    </div>
<% } %>



