<% if(site.categories.length){ %>
<% var excludeNames= theme.category.excludeNames %>

    <div class="widget">
        <h3 class="title"><%= __('categories') %></h3>
        <ul class="category-list">
            <% site.categories.forEach(function (pageCategorie, i) { %>
            <% if(_.indexOf(excludeNames,pageCategorie.name) == -1){ %>
                 <div>
                     <% if(theme.cate_config.show_count){%>
                        <li class="category-list-item"><a href=" <%- url_for(pageCategorie.path) %>"><%= pageCategorie.name %></a>
                            <span class="category-list-count"><%=pageCategorie.length%></span>
                        </li>
                     <%  } else{ %>
                     <li class="category-list-item"><a href=" <%- url_for(pageCategorie.path) %>"><%= pageCategorie.name %></a>
                     <%  }%>
                 </div>
                <%  } %>
            <%  }) %>
        </ul>
    </div>
<% } %>
