<% if(theme.social){%>
    <div class="widget">
      <h3 class="title">社交</h3> 
        <div class="content social">
            <% theme.social.forEach(function (item) {%>
				<% if(theme.iconfont.enable && item.iconfont){%>
					<a href="<%- item.href%>" rel="external nofollow" title="<%- item.name%>" target="_blank">
						<i class="iconfont icon-<%- item.icon%>"></i>
					</a>
				<%} else {%>
					<a href="<%- item.href%>" rel="external nofollow" title="<%- item.name%>" target="_blank">
						<i class="<%- item.icon%> fa fa-<%- item.icon%>"></i>
					</a>
				<%}%>
            <%})%>
        </div>
    </div>
<%}%>
