<link rel="stylesheet" href="https://cdn.bootcss.com/gitalk/1.4.1/gitalk.min.css">
<script src="//cdn.bootcss.com/gitalk/1.4.1/gitalk.min.js"></script>
<script src="//cdn.bootcss.com/blueimp-md5/2.9.0/js/md5.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
var gitalk = new Gitalk({
    // Gitalk配置
    language: "<%= config.language%>",
    clientID: "<%= theme.gitalk.clientID%>",
    clientSecret: "<%= theme.gitalk.clientSecret%>",
    repo: "<%= theme.gitalk.repo%>",
    owner: "<%= theme.gitalk.owner%>",
    admin: ["<%= theme.gitalk.admin%>"],
    id: md5(location.pathname),
    distractionFreeMode: <%= theme.gitalk.distractionFreeMode%>
});
gitalk.render('gitalk-container');
</script>