<% if (theme.minivaline.enable){ %>
<div id="minivaline-container" class="minivaline"></div>
<%- js('https://unpkg.com/minivaline/dist/MiniValine.min.js') %>
<script>
new MiniValine({
  el: '#minivaline-container',
  appId: '<%= theme.minivaline.appId %>',
  appKey: '<%= theme.minivaline.appKey %>',
  placeholder: '<%= theme.minivaline.placeholder %>',
  lang: '<%= theme.minivaline.lang %>',
  adminEmailMd5: '<%= theme.minivaline.adminEmailMd5 %>',
  math: <%= theme.minivaline.math %>,
  md: <%= theme.minivaline.md %>
});
</script>
<% } %>