<h3> 
    <% if(page.tag) { %>
        <%= page.tag %> 
    <% } if(page.category) { %>
        <%= page.category %> 
    <% } else { %>
    <% } %>
</h3>
<% page.posts.each(function(post){ %>
    <article class="post">
        <% if(post.img) { %>
            <div class="post-media">
                <a href="<%- url_for(post.path) %>">
                    <img class="img-ajax" src="<%- url_for('/img/loading.gif') %>"  data-src="<%- post.img %>"  alt="<%- post.title %>"> 
                </a>
            </div>
        <% } %>
        <div class="post-content">
            <div class="post-head home-post-head">
                <h1 class="post-title"> 
                    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
                </h1>
            </div>
            <p class="brief">
                <% if(post.excerpt) { %>
                    <%= strip_html(post.excerpt) + '…' %>
                <% } else { %>
                    <%= truncate(strip_html(post.content), {length: theme.excerptLength || 120, separator: ''}) %>
                <% } %>
            </p> 
        </div>
    <% if(theme.homePanel) { %>
        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                <%- partial('_partial/article-meta', {post: post}) %>
            </div>

            <div class="post-permalink">
                <a href="<%- url_for(post.path) %>" class="btn btn-default"><%= __('read_more') %></a>
            </div>
        </footer>
    <% } %>
	
    </article>
 <% }) %>

<%- partial('_partial/pagination') %>

