<% if(theme.uyan.enable && is_post()){ %>
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.uyan.uyan_id %>"></script>
<% } else if(theme.gitment.enable && is_post()) { %>
    <script type="text/javascript" src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        id: window.location.pathname,
        owner:"<%= theme.gitment.owner%>",
        repo:"<%= theme.gitment.repo%>",
        oauth: {
          client_id:"<%= theme.gitment.client_id%>",
          client_secret:"<%= theme.gitment.client_secret%>"
        },
        perPage:"<%= theme.gitment.perPage%>",
    });
    gitment.render('comments');
    </script>
<% } else { %>
   <p>评论系统未开启，无法评论！</p>
<%}%>






